<div class="wrap_original">
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="float-left">
                    <a href="https://radiant-earth-97617.herokuapp.com/" target="_blank"
                        rel="noopener noreferrer">ヨーロッパサッカー掲示板</a>
                    <a href="https://yugioh-masterduel1.herokuapp.com/" target="_blank"
                        rel="noopener noreferrer">遊戯王マスターデュエル</a>
                    <a href="https://twitter.com/cfewasggrd1224/" target="_blank" rel="noopener noreferrer">twitter</a>
                </div>

            </div>
        </div>
        <div class="clearfix">
            <div class="container-fluid">
                <div class="bg-light">
                    <div class="text-center">
                        <h1 class="m-5">
                            <p class="text-warning">my profile</p>
                        </h1>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-7">
                        <div sidebar_fixed">
                            <%= image_tag "my-face.png", :size =>"300x500" %>
                        </div>
                    </div>
                    <div class="mt-4">
                        <div class="col">
                            <h2 class="text-warning">物事を探求するのが好き</h2>
                        </div>
                        <div class="mt-3">
                            <div class="col">
                                <h3 class="text-black">末永紅英</h3>
                                <p class="text-black">高校時代から数学の面白さに気付き他教科の時間配分は考えてはいましたが<br />数学に没頭する事が多く
                                    今でも気が向けば理系(文系)数学の良問プラチカや<br />FocusGoldという教材で問題を解いたりyoutubeで数学の未解決問題について<br />
                                    の動画を見たりして数学を楽しんでいます。<p>また、僕はスポーツが好きでヨーロッパサッカー掲示板を作りました。<br />
                                        以下がヨーロッパサッカー掲示板です。<br /> <a href="https://radiant-earth-97617.herokuapp.com/"
                                            target="_blank" rel="noopener noreferrer">
                                            こちらのサイト</a><br />僕はスポーツをボールを追いかけるだけではなく、
                                        どのような戦術が<br />繰り広げられているのかに注目し観戦しています。
                                        監督によって戦術が様々で<br />プレーヤーの配置を変え勝利に導ける引き出しの多い監督<br />がいるチームを
                                        応援したくなります。<br/>監督の移動も激しいサッカーでは僕の応援したくなるチームも<br />
                                        かなり変わったりします。<br /></p>
                                    <p>また、遊戯王も好きで1月19日にリリースされ2月7日時点で1000万<br />ダウンロード
                                        された遊戯王マスターデュエルをプレイしていて<br />以下が感想や使っているカードを紹介しているサイトです。<br />
                                        <a href="https://yugioh-masterduel1.herokuapp.com/" target="_blank"
                                            rel="noopener noreferrer">こちらのサイト</a> </p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="bg-light">
                    <div class="text-center">
                        <h1 class="m-5">
                            <p class="text-warning">自己紹介</p>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="mt-4">
                    <h5>名前: 末永紅英</h5>
                </div>
                <div class="mt-4">
                    <h5>生年月日: 1月19日</h5>
                </div>
                <div class="mt-4">
                    <h5>経歴: 大阪偕星学園卒業後関西派遣センターにて就業その後ポリテクセンター関西にてプログラムを学ぶ</h5>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="bg-light">
                <div class="text-center">
                    <h1 class="m-5">
                        <p class="text-warning">ヨーロッパサッカー掲示板について</p>
                    </h1>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-7">
                    <div sidebar_fixed">
                        <%= image_tag "europesoccer.png", :size =>"300x500" %>
                    </div>
                </div>
                <div class="mt-4">
                    <div class="col">
                    </div>
                    <div class="mt-1">
                        <div class="col">
                            <a href="https://radiant-earth-97617.herokuapp.com/" target="_blank"
                                rel="noopener noreferrer">ヨーロッパサッカー掲示板</a><br />
                            <p class="text-black"></p>僕自身がヨーロッパサッカーについて詳しく話せる場、人が欲しいと<br />
                            思いましたので作りました。<br />
                            またサッカーが好きな僕がこう思っているという事は同じ事を思っている<br />
                            人がいるはずだという考えもありました。<br />
                            <p>ヨーロッパサッカーに関して掲示板形式で話し合え相互フォローで<br />DMが出来るようになっています。<br /></p>
                            <p>まずXMindというアプリでサイトの遷移図を作り何のページを作りどのページに<br />どの機能をつけるか整理していきました。<br />
                                一番苦労した点は画像投稿機能でエラーを調べていくとWindows特有のエラー<br />が出ていたらしく
                                まず作ってみようと思いWindowsで作り始めてしまったのが<br />仇となってしまったと思いました。<br />
                                なんとかGoogle検索でQiitaの記事や色んなサイトに行きつきなんとか<br />解決させましたがここにかなりの時間を使ってしまいました。<br />
                                <p>webサイトを作るならMacを買うんだったと後悔しています。<br /></p>
                            </p>
                            <p>あともう一つ反省点としてシングルクォーテーションを使うのか<br />ダブルクォーテーションを使うのかの統一をしなかった事です。</p>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="bg-light">
                <div class="text-center">
                    <h1 class="m-5">
                        <p class="text-warning">遊戯王マスターデュエルについて</p>
                    </h1>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-7">
                    <div sidebar_fixed">
                        <%= image_tag "sentouki.png", :size =>"300x500" %>
                    </div>
                </div>
                <div class="mt-4">
                    <div class="col">
                    </div>
                    <div class="mt-3">
                        <div class="col">
                            <p class="text-black"> <a href="https://yugioh-masterduel1.herokuapp.com/" target="_blank"
                                    rel="noopener noreferrer">遊戯王マスターデュエル</a>
                                <p>遊戯王のカードを友人から大量に貰った事がきっかけで、<br />プレイしはじめました。

                                    <p>また初心者でも分かりやすく遊戯王マスターデュエルの<br />攻略サイトを作ってみました。</p>

                                    <p>サイトには遊戯王を触ったことがない人でも、分かりやすく読める<br />ように書く内容は少なめにし、
                                        初心者でも簡単に扱えてかつ強いデッキと<br />僕が使っているデッキについて紹介しています。</p>
                                </p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>