<!doctype html>
<html lang="ja">

<head>
    <title>my profile</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/scss" href="top.scss">
</head>

<body>
    <div class="jumbotron">
        <div class="container-fluid">
            <div class="row">
                <div class="float-left">
                    <a href="https://radiant-earth-97617.herokuapp.com/" target="_blank"
                        rel="noopener noreferrer">ヨーロッパサッカー掲示板</a>
                    <a href="https://radiant-earth-97617.herokuapp.com/" target="_blank"
                        rel="noopener noreferrer">遊戯王マスターデュエル</a>
                </div>

            </div>
        </div>
        <div class="clearfix">
            <div class="container-fluid">
                <div class="bg-light">
                    <div class="text-center">
                        <h1 class="m-5">
                            <p class="text-warning">my profile</p>
                        </h1>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-7">
                        <div sidebar_fixed">
                            <img src="/assets/my-face.png" class="img-fuid" alt="末永紅英">
                        </div>
                    </div>
                    <div class="mt-4">
                        <div class="col">
                            <h2 class="text-warning">物事を探求するのが好き</h2>
                        </div>
                        <div class="mt-3">
                            <div class="col">
                                <h3 class="text-black">末永紅英</h3>
                                <p class="text-black">高校時代から数学の面白さに気付き他教科の時間配分は考えてはいましたが<br />数学に没頭する事が多く
                                    今でも気が向けば理系(文系)数学の良問プラチカや<br />FocusGoldという教材で問題を解いたりyoutubeで数学の未解決問題について<br />
                                    の動画を見たりして数学を楽しんでいます。<br />また、僕はスポーツが好きでヨーロッパサッカー掲示板を作りました。<br />
                                    以下がヨーロッパサッカー掲示板です。<br /> <a href="https://radiant-earth-97617.herokuapp.com/"
                                        target="_blank" rel="noopener noreferrer">
                                        こちらのサイト</a><br />僕はスポーツをただ見るだけで楽しむのではなくそのスポーツの中でどの様<br />な戦術が繰り広げられているのか
                                    について考えながら見ていて戦術は基本的<br />に戦術は監督が考えるもので選手がプレーをしやすい様にプレーをさせて<br />あげないと
                                    ダメなのですがこれを凄い次元で行っている監督もいればそう<br />でもない監督の方が多くでこの選手をここに置いてあげれば勝てるのにとか<br />
                                    フロントがこの監督を呼んでくれば上手くいくのに等を考えながらスポーツ<br />を見ています。<br />
                                    また、遊戯王も好きで1月19日にリリースされた遊戯王マスターデュエルを<br />をプレイしていて以下が感想や使っているカードを紹介しているサイトです。<br />
                                    <a href="https://radiant-earth-97617.herokuapp.com/" target="_blank"
                                        rel="noopener noreferrer">こちらのサイト</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="mt-5">
                    <div class="text-center">
                        <h1 class="text-warning">自己紹介</h1>
                        <div class="mt-4">
                            <h5>名前: 末永紅英</h5>
                        </div>
                        <div class="mt-4">
                            <h5>生年月日: 1月19日</h5>
                        </div>
                        <div class="mt-4">
                            <h5>経歴: 大阪偕星学園卒業後関西派遣センターにて就業その後ポリテクセンター関西にてプログラムを学ぶ</h5>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="mt-5">
                        <div class="text-center">
                            <h1 class="text-warning">ヨーロッパサッカー掲示板について</h1>
                        </div>
                        <div class="container-fluid">
                            <div class="mt-5">
                                <div class="row">
                                    <div class="col-7">
                                        <div sidebar_fixed">
                                            <img src="assets/europesoccer.png" class="img-fuid" alt="ヨーロッパサッカー"
                                                width="620px" height="500px">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="mt-5">
                                            <p>僕自身がヨーロッパサッカーについて詳しく話せる場、人が欲しくヨーロッパサッカー掲示板を作りました。<br />
                                                また、サッカーが好きな僕がこう思っているという事は同じ事を考えている人がいるはずだと思ったのもあります。<br />
                                                ヨーロッパサッカーに関して掲示板形式で話し合え相互フォローでDMが出来るようになっています。<br />
                                                まずXMindというアプリでサイトの遷移図を作り何のページを作りどのページにどの機能をつけるか整理していきました。<br />
                                                一番苦労した点は画像投稿機能でエラーを調べていくとWindows特有のエラーが出ていたらしくまず作ってみようと思い
                                                Windowsで作り始めてしまったのが仇となってしまったと思いました。<br />
                                                なんとかGoogle検索でQiitaの記事や色んなサイトに行きつきなんとか解決させましたがここにかなりの時間を使ってしまいました。<br />
                                                webサイトを作るならMacを買うんだったと後悔しています。<br/>
                                                あともう一つ反省点としてシングルクォーテーションを使うのかダブルクォーテーションを使うのかの統一をしなかった事です。
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="mt-5">
                        <div class="text-center">
                            <h1 class="text-warning">遊戯王マスターデュエルについて</h1>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>